.App {
  text-align: center;
}


:root {
  --main_color: #ffa600 ;
  --main_color_opacity: #ffa60093 ;
  --main_color2: #ff8c00 ;
  --sec_color: #F6F4F0 ;
  
}

.dark
{
  background-color: #1f1f1f ;
  color: #F6F4F0;
  
}
.light
{
  background-color: #F6F4F0 ;
  color: #1f1f1f;
}
.dark_svg
{
  fill: #F6F4F0;
  
}
.light_svg
{
  fill: #1f1f1f;
}
.main_color
{
  color: var(--main_color);
  fill: var(--main_color);
}
.App-Background{
  background-color: var(--main_color);
}
.En{
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
.Ar{
  font-family: "Cairo";
}
a:hover{
  color: var(--main_color)
}

.text-start{
  text-align: start !important
}

@tailwind base;
@tailwind components;
@tailwind utilities;
